*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header{
    position: fixed;
    height: 12vh;
    top: 0;
    left: o;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



nav a{
    text-decoration: none;
    color: black;
    font-weight: bold; 
    margin-right: 20px;

}

nav a:hover{
    color: red;
}

nav a.active{
    color:red;
}
.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu-toggle {
  display: none;
}


@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
    cursor: pointer;
  }

  .menu-toggle i {
    font-size: 1.5rem;
  }

  .menu-toggle.active i {
    color: #ff0000;
  }

  .menu-toggle.active {
    transform: rotate(90deg);
    
  }

  .menu {
    display: none;
  }

  .menu.active {
    display: flex;
    flex-direction: column;
    align-items:center;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    padding: 20px;
    width: 50%;

  }

  .menu a {
    margin-bottom: 10px;

  }
}
body {
    font-size: 1rem;
    line-height: 1.5;
    background-color: #f8f8f8;
    padding-top: 60px; 
  }
  
  section:not(.home) {
    margin-top: 60px; /* Add margin-top to create space below the fixed navbar for subsequent sections */
}

.home{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 88vh; 
}

.home h1{
    font-size:xx-large;
}
.home h3{
    font-size:larger;
}
.home p{
    font-size: large;
}

.introduction{
        width: 500px;
        height: auto;
        padding: 20px;
}

.introduction span{
    color: red;
}
.home img {
    max-width: 100%; /* Make the image responsive */
    max-height: 60vh; /* Set the maximum height to your desired value */
    width: auto;
    height: auto;
}

.about {
    margin-top: 12vh;
    height: 100vh;
    padding: 40px;
    margin-bottom: 20px;

  }

 .hdg2{
    text-align: center;
  }
.about h2{  
    margin-bottom: 10px;
}
  
  .qualifications {
    margin-top: 30px;
    display: flex;
  }


  .education,
  .certifications,
  .skills {
    flex: 1;
    margin-top: 10px;
    margin-left: 20px;

  }
  
  .qualifications h2 {
    margin-bottom: 10px;
    color: red;
  }
  
  .qualifications ol {
    margin-top: 10px;
  }
  
  .qualifications ul {
    margin-top: 10px;
    list-style-type: none;
  }
    
 
  .skills li {
    margin-bottom: 5px;
    font-weight: 500;
  }

  ul li:first-child {
    font-size:larger;
    font-weight:500;
  }
  
  ul li:nth-child(2) {
    font-size:large;
  }
  ul li:last-child {
    font-size:medium;
    font-weight: lighter;
  }
  
  
  
  
  /* Media query for responsive layout */
  @media (max-width: 768px) {
    .qualifications {
      flex-direction: column;
    }
  
    .qualifications > * {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  





.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    height: 88vh; 
    text-align: center;
    padding: 40px;
}

.contact h1{
  margin-bottom: 20px;

}

.contact-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-item {
  width: 400px;
  margin-bottom: 20px;
  text-align: center;
}

.contact-item span {
    font-size: 2.2rem;
    margin-bottom: 10px;
    padding: 5px;
    color: red;
  }
  

  
.contact-item p {
  font-size: 16px;
  line-height: 1.4;
}

.contact-item a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.contact-item a:hover {
  color: #ff0000;
}

.social{
    padding-bottom: 30px;
}
.social-button {
    text-decoration: none;
  }
.social-button i{
    margin: 0% 5%;
    padding: 3%;
    border-radius: 50px;
    box-shadow: 5px 10px 8px  red;
    font-size:larger;
    background-color: white;
    color: red;
}

.social-button i:hover{
    background-color:red;
    color: white;
    transform: scale(1.2);

}


.form-control {
    width: 100%;
    margin: 1rem;
    padding: 1.2em;
    padding-inline-end: 6rem;
    font-size: 1rem;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.form-control:hover{
    border: red 1px solid;
}
.form-control:focus {
    border-color: red;
    outline: none;
}


textarea {
  height:120px;
}
.submit-btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: #fff;
    cursor: pointer;
}

.submit-btn:hover {
    transform: scale(1.06);
    
}
 